{{/*<!-- 

  Changelog Layout
  ================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: List

  LAYOUT: /layouts/changelog/list.html
  DOCS:   /content/<language>/wiki/Help:Layout_Changelog.md
  STYLE:  /assets/scss/components/_timeline.scss

  Description
  -----------

  The list layout page for the changelog.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->*/}}

{{ define "main" }}
  <div class="container">
      <div class="section pt-5">
        <div class="row justify-content-center">
          <div class="col">
            <article>
              <h1>{{ .Title }}</h1>
              <p class="lead mb-5">{{ .Params.lead | safeHTML }}</p>
              {{- .Content -}}
              <ul class="timeline">
                {{ range .Data.Pages.ByDate }}
                  <li class="entry">
                    <p>
                      <span class="title">
                        {{- .Title }}
                        {{ if eq .Draft true -}}
                          <span class="badge bg-danger">Draft</span>
                        {{ end }}
                      </span>
                      <span class="date">
                        🗓️
                        {{ .PublishDate.Format "Jan 2, 2006" -}}
                      </span>
                    </p>
                    <p>
                      {{- .Content -}}

                      {{ range first 1 (where (where .Site.RegularPages.ByDate "Section"
                        "blog") "Params.title" "==" .Params.blog_post)
                      -}}

                        <span class="blog-post-message">
                          There is a blog post available with more information on
                          this topic:
                        </span>
                        <div class="mt-3 pt-3">
                          <div class="card">
                            <div class="card-body">
                              <h3>
                                <a
                                  class="stretched-link text-body"
                                  href="{{ .RelPermalink }}"
                                  >{{ .Params.title }}</a
                                >
                              </h3>
                              <p>{{ .Params.lead | safeHTML }}</p>
                              {{ partial "main/blog-meta.html" . -}}
                            </div>
                          </div>
                        </div>
                      {{ end }}
                    </p>
                  </li>
                {{ end }}
              </ul>
            </article>
          </div>
        </div>
      </div>
  </div>
{{ end }}
