<!-- Get the last element from the current URL -->
{{ $lastUrlElement := index (last 1 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}


<!-- Get the seconf last element from the current URL -->
{{ $secondLastUrlElement := index (last 2 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}


<!-- Get the third last element from the current URL -->
{{ $thirdLastUrlElement := index (last 3 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}


<!-- Page is blog or blogpage for a specific year -->
{{ $is_blog := false }}
{{ if (or (eq $lastUrlElement "blog") (eq $thirdLastUrlElement "blog") (eq $lastUrlElement "categories") (eq $secondLastUrlElement "categories") (eq $lastUrlElement "tags") (eq $secondLastUrlElement "tags")) }}
  {{ $is_blog = true }}
{{ end }}


<!-- Check if path for pagination should be /blog/ or /blog/<year>/ -->
{{ $current := "" }}
{{ if eq $is_blog true }}
  {{ $current = (where .Site.RegularPages "Section" "blog") }}
{{ else }}
  {{ $current = .Data.Pages }}
{{ end }}


<!-- Store for all elements (not uniq) -->
{{ $categoies := slice }}


<!-- find all categories start with current -->
{{ range  (where $current "Params.categories" "!=" nil) }}
  {{ range .Page.Params.categories }}
    {{ $categoies = $categoies | append (lower .) }}
  {{ end }}
{{ end }}

{{ if gt (len $categoies) 0 }}
  <div class="blog-widget">
    <h4 class="fst-italic" style="margin-top: 0rem;">
      <i class="fa fa-folder-open"></i> Categories
    </h4>

    <ul class="list-unstyled mb-0">
      <!-- Using uniq values -->
      {{ range $uniq_category := first 8 (uniq $categoies) }}
        <li>
          <a href="/categories/{{ lower $uniq_category }}"
            >{{ $uniq_category | title }}
            <span class="badge">
              <!-- compare and count one element after another -->
              {{ $counter := 0 }}
              {{ range $item := $categoies }}
                {{ if eq $item $uniq_category }}
                  {{ $counter = add $counter 1 }}
                {{ end }}
              {{ end }}
              {{ $counter }}
            </span>
          </a>
        </li>
      {{ end }}
      <div class="blog-widget-btn pt-2 mt-2">
        <a href="/categories" class="btn btn-outline-primary" role="button"
          >All Categories</a
        >
      </div>
    </ul>
  </div>
{{ end }}
