<!-- 22-08-10 -->
{{- with .Params.infobox -}}

  <!-- TODORemove some of the links as they should be done in MD -->
  <!-- TODO: Read type from frontmatter and create different types -->
  {{- $type := "default" -}}

  <div class="mp-infobox-table">
    <table class="mp-infobox {{ $type -}}">
      <!-- header -->
      {{- with .header -}}
        <caption class="mp-infobox-title summary">{{- . | $.RenderString -}}</caption>
      {{- end -}}
      <tbody>

        {{- range .data -}}

          <!-- image  -->
          {{- if eq .type "image" -}}
            <tr>
               <td colspan="2" class="mp-infobox-image">
                 {{- with .href -}}<a href="{{- . -}}" class="image">{{- end -}}
                   <img {{ with .alt -}}alt="{{- . -}}"{{- end }} 
                        src="{{- .src -}}" 
                        width="220"
                   >
                 {{- with .href -}}</a>{{- end -}}
                 {{- with .caption -}}
                 <div class="mp-infobox-caption">{{- . | $.RenderString -}}</div>
               {{- end -}}
               </td>
            </tr>

          <!-- header -->
          {{- else if eq .type "header" -}}
            <tr>
              <th colspan="2" class="mp-infobox-header">
                {{- with .href -}}<a href="{{- . -}}">{{- end -}}
                  {{- .header | $.RenderString -}}
                {{- with .href -}}</a>{{- end -}}
              </th>
            </tr>


          <!-- label -->
          {{- else if eq .type "label" -}}
            <!-- TODO: check value with regex, if it is a datetime, date 
                       or time. and format it accordingly (locale).
            -->
            <tr>
              <th scope="row" class="mp-infobox-label">
                <span class="text-nowrap">{{- .label | $.RenderString -}}</span>
              </th>
              <td class="mp-infobox-data">
                {{- with .href -}}<a href="{{- . | $.RenderString -}}">{{- end -}}
                  {{- .value | $.RenderString -}}
                {{- with .href -}}</a>{{- end -}}
              </td>
            </tr>

          <!-- fulldata -->
          {{- else if eq .type "fulldata" -}}
            <tr>
              <td colspan="2" class="mp-infobox-fulldata"> 
                <span class="text-nowrap"><b>{{- .label -}}</b></span>
                <br />
                {{- .value | $.RenderString -}}
              </td>
            </tr>

          <!-- subheader -->
          {{- else if eq .type "subheader" -}}
            <tr>
               <td colspan="2" class="mp-infobox-subheader">
                  {{- .header | $.RenderString -}}
               </td>
            </tr>

          {{- else -}}
            {{- errorf "Failed to process alert partial: %s. The infobox contains an invalid element %s." $.Page.Path (.) -}}
          {{- end -}}

        {{- end -}}
      </tbody>
    </table>
  </div>
{{- end -}}

