<article class="blog-post mb-4">
  <h4 class="blog-post-title mb-0 mt-0">
    <a href="{{ .RelPermalink }}"
      >{{ .Params.title }}{{ if eq .Draft true }}
      <span class="badge bg-danger">Draft</span>
      {{ end }}</a
    >
  </h4>
  <p class="mb-0">{{ .Params.lead | safeHTML }}</p>
</article>
