{{/*<!-- 

  Categories Layout
  =================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: Term

  LAYOUT: /layouts/categories/term.html
  DOCS:   /content/<language>/wiki/Help:Layout_Categories.md

  Description
  -----------

  The term layout page for the blog categories.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->*/}}

{{ define "main" }}

  {{ $blog := where .Site.RegularPages "Section" "blog" }}

  {{ $pages := slice }}


  <!-- Find the category page -->
  {{ $category_page := "" }}
  {{ range (where $.Site.RegularPages "Section" "categories") }}
    {{ if eq (lower .Title) (lower $.Title) }}
      {{ $category_page = . }}
    {{ end }}
  {{ end }}


  <!-- Find the blog posts (pages) -->
  {{ range $temp_page :=  (where $blog "Params.categories" "!=" nil) }}
    {{ range $c := .Page.Params.categories }}
      {{ if eq (lower $c) (lower $.Title) }}
        {{ $pages = $pages | append $temp_page }}
      {{ end }}
    {{ end }}
  {{ end }}


  <div class="container">
    <div class="section pt-5">
      <a href="/categories/">&#8592; Back to categories</a>
      <div class="row g-5 justify-content-center">
        <div class="col-md-12 col-lg-9 col-xl-9">
          <h1 class="pb-2 mb-2 fst-italic">
            <i class="fa fa-folder-open"></i>
            Category:
            {{ .Title | title }}
          </h1>
          <p class="lead">
            {{ with $category_page }}
              {{ .Params.lead | safeHTML }}
            {{ end }}
          </p>
          <div class="pb-4 mb-4">
            {{ with $category_page }}
              {{ .Content }}
            {{ end }}
          </div>
          {{ $paginator := .Paginate $pages -}}
          {{ range $paginator.Pages -}}
            {{ partial "main/blog-post-list-layout.html" . -}}
          {{ end }}
          <div class="pagination justify-content-center">
            {{ $.Scratch.Set "paginator" true }}
            {{ template "_internal/pagination.html" . }}
          </div>
        </div>
        {{ partial "main/blog-sidebar.html" . }}
      </div>
    </div>
  </div>
{{ end }}
