{{/*<!-- 

  Internal (Docs) Layout
  ======================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: List

  LAYOUT: /layouts/internal/list.html
  DOCS:   /content/<language>/wiki/Help:Layout_Internal.md (undocumented)
  STYLE:  /assets/scss/layouts/_docs.scss

  Description
  -----------

  The list layout page for the internal docs.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->*/}}

{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ .Title }}</h1>
      <div class="text-center">{{ .Content }}</div>
      <div class="card-list">
        {{ $currentSection := .CurrentSection }} {{ range where
        .Site.RegularPages.ByTitle "Section" .Section }} {{ if in (.RelPermalink
        | string) $currentSection.RelPermalink }}
        <div class="card my-3">
          <div class="card-body">
            <a class="stretched-link" href="{{ .RelPermalink }}"
              >{{ .Params.title | title }} &rarr;</a
            >
          </div>
        </div>
        {{ end }} {{ end }}
      </div>
    </article>
  </div>
</div>
{{ end }}
