{{/*<!-- 

  Docs Layout
  ===========

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: List

  LAYOUT: /layouts/docs/list.html
  DOCS:   /content/<language>/wiki/Help:Layout_Docs.md
  STYLE:  /assets/scss/layouts/_docs.scss

  Description
  -----------

  The list layout page for the docs.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->*/}}

{{ define "main" }}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <article>
          <h1 class="text-center">{{ if eq .CurrentSection .FirstSection }}{{ .Section | humanize }}{{ else }}{{ .Title }}{{ end }}</h1>
          <div class="text-center">{{ .Content }}</div>
          <div class="card-list">
            {{ $currentSection := .CurrentSection }}
            {{ range where .Site.RegularPages.ByTitle "Section" .Section }}
              {{ if in (.RelPermalink | string) $currentSection.RelPermalink }}
                <div class="card my-3">
                  <div class="card-body">
                    <a class="stretched-link" href="{{ .RelPermalink }}">{{ .Params.title | title }} &rarr;</a>
                  </div>
                </div>
              {{ end }}
            {{ end }}
          </div>
        </article>
      </div>
    </div>
  </div>
{{ end }}
