{{/*<!-- 

  Sponsors Layout
  ===============

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: List

  LAYOUT: /layouts/sponsors/list.html
  DOCS:   /content/<language>/wiki/Help:Layout_Sponsors.md

  Description
  -----------

  The list layout page for the sponsors page.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->*/}}

{{ define "main" }}
  <div class="container">
    <div class="row mb-3 justify-content-center">
      <div class="col-md-12">
        <article>
          <h1>{{ .Title }}</h1>
          <p class="lead">{{ .Params.lead | safeHTML }}</p>
          {{ .Content }}
        </article>
      </div>
      <div class="row justify-content-center">
        <!-- GitLab -->
        <div class="col-lg-6">
          <a href="https://gitlab.com" target="_blank" rel="noopener noreferrer">
            {{- partial "main/embedded_image.html" "gitlab-logo" -}}
          </a>
          <p class="text-center">
            GitLab is sponsoring our group with GitLab Ultimate
          </p>
        </div>

        <!-- Another Sponsor  -->
        {{/* <!--
        <div class="col-lg-6">
          <a href="https://gitlab.com" target="_blank" rel="noopener noreferrer">
            {{- partial "main/embedded_image.html" "gitlab-logo" -}}
          </a>
          <p class="text-center">
            xxx
          </p> 
        </div>
          --> */}}
      </div>
    </div>
  </div>
{{ end }}
