{{/*<!-- 

  Wiki Layout
  ===========

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: List

  LAYOUT: /layouts/wiki/list.html
  DOCS:   /content/<language>/wiki/Help:Layout_Wiki.md
  STYLE:  /assets/scss/layouts/_docs.scss

  Description
  -----------

  The list layout page for the wiki.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->*/}}

{{ define "main" }}
  <div class="container">
    <div class="row flex-xl-nowrap gap-1">
      <div class="col-md-12 col-lg-2 col-xl-2 docs-sidebar d-none d-lg-block">
        <nav class="docs-links" aria-label="Main navigation">
          {{ partial "sidebar/docs-menu.html" . }}
        </nav>
      </div>
      {{ if ne .Params.toc false -}}
        <nav class="docs-toc {{ if ne .Site.Params.options.navbarSticky true }} docs-toc-top{{ end }} d-none d-xl-block col-xl-2" aria-label="Secondary navigation">
          {{ partial "sidebar/wiki-toc.html" . }}
        </nav>
      {{ end -}}
      {{ with .Params.toc -}}
        <main class="docs-content col-md-12 col-lg-10 col-xl-8">
      {{ else -}}
        <main class="docs-content col-md-12 col-lg-10 col-xl-8 mx-xl-auto">
      {{ end -}}
        <h1>
          {{ .Title }}
          {{ if eq .Draft true }}
            <span class="badge bg-danger">Draft</span>
          {{ end }}
        </h1>
        <p class="lead">{{ .Params.lead | safeHTML }}</p>
        {{ if ne .Params.toc false -}}
          <nav class="d-xl-none" aria-label="Quaternary navigation">
            {{ partial "sidebar/wiki-toc.html" . }}
          </nav>
        {{ end -}}
        {{ .Content }}
      </main>
    </div>
  </div>
{{ end }}
