{{/*<!-- 

  Wiki Layout
  ===========

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: Single

  LAYOUT: /layouts/wiki/single.html
  DOCS:   /content/<language>/wiki/Help:Layout_Wiki.md
  STYLE:  /assets/scss/layouts/_docs.scss

  Description
  -----------

  The single layout page for the wiki.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->*/}}

{{ define "main" }}
  <div class="container">
    <div class="row  flex-lg-nowrap gap-1">
      <div class="col-12 col-lg-2 docs-sidebar {{ if ne .Site.Params.options.navbarSticky true -}}docs-sidebar-top{{- end }} d-none d-lg-block">
        <nav {{ if eq .Site.Params.menu.section.collapsibleSidebar false }}id="sidebar-default" {{ end }}class="docs-links" aria-label="Main navigation">
          {{ partial "sidebar/docs-menu.html" . }}
        </nav>
      </div>
      {{ if ne .Params.toc false -}}
      <nav class="docs-toc{{ if ne .Site.Params.options.navbarSticky true }} docs-toc-top{{ end }} d-none d-xl-block col-xl-2" aria-label="Secondary navigation">
        {{ partial "sidebar/wiki-toc.html" . }}
      </nav>
      {{ end -}}
      {{ with .Params.toc -}}
      <main class="wiki-content docs-content col-12 col-lg-10 col-xl-8">
      {{ else -}}
      <main class="wiki-content docs-content col-12 col-lg-10 col-xl-8 mx-xl-auto">
      {{ end -}}
        <h1>
          {{ .Title }}
          {{ if eq .Draft true }}
            <span class="badge bg-danger">Draft</span>
          {{ end }}
        </h1>
        <p class="lead">{{ .Params.lead | safeHTML }}</p>
        {{ if ne .Params.toc false -}}
        <nav class="d-xl-none" aria-label="Quaternary navigation">
          {{ partial "sidebar/wiki-toc.html" . }}
        </nav>
        {{ end -}}
        {{ if ne .Params.infobox false -}}
          {{ partial "main/wiki-infobox.html" . }}
        {{ end -}}
        {{ .Content }}
          <!-- categories and contributors table START -->
          <div class="container-flex">
            <div class="row">
              <div class="col">
                <div class="blog-data-section">
                  <!-- Last time edited -->

                    <div class="page-links">
                      <div class="sidebar-actions">
                        {{- partial "main/last-modified.html" . -}}
                        {{- if .Site.Params.editPage -}}
                          {{- partial "main/edit-page.html" . -}}
                        {{- end -}}
                      </div>
                    </div>
                  <table class="blog-data-table">
                    <tr>
                      <!-- Categories table head-->
                      {{ if isset .Params "wiki_categories" }}
                        <th>
                          <h5><i class="fa fa-folder-open"></i> Categories</h5>
                        </th>
                      {{ end }}
                      <!-- Tags table head-->
                      {{ if isset .Params "contributors" }}
                        <th>
                          <h5><i class="fa fa-group"></i> Contributors</h5>
                        </th>
                      {{ end }}
                    </tr>
                    <tr>
                      <!-- Categories-->
                      <td>
                        {{ with .Params.wiki_categories }}
                          {{ range $index, $category := . -}}
                            {{ if gt $index 0 -}}
                              {{ if eq $index (sub (len $.Params.wiki_categories ) 1) }}
                                <span> and </span>
                              {{ else -}}
                                <span>, </span>
                              {{ end -}}
                            {{ end -}}<a
                              class="stretched-link position-relative"
                              href="{{ "/wiki_categories/" | relURL }}{{ . | urlize }}/"
                              >{{ . | title }}</a
                            >
                          {{- end }}
                        {{ end }}
                      </td>
                      <!-- Tags -->
                      <td>
                        {{ with .Params.contributors }}
                          {{ range $index, $contributor := . -}}
                            {{ if gt $index 0 -}}
                              {{ if eq $index (sub (len $.Params.contributors ) 1) }}
                                <span> and </span>
                              {{ else -}}
                                <span>, </span>
                              {{ end -}}
                            {{ end -}}<a
                              class="stretched-link position-relative"
                              href="{{ "/contributors/" | relURL }}{{ . | urlize }}/"
                              >{{ . | title }}</a
                            >
                          {{- end }}
                        {{ end }}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- categories and contributors table END --> 
      </main>
    </div>
  </div>
{{ end }}
