/*

  Identifier Shortcode
  ====================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/identifier.html
  STYLE:  /assets/scss/components/_shortcode_identifier.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Identifier.md
  PREP:   /utils/get_matrix_rooms
  DATA:   /data/matrix_rooms.json
  PREP:   /utils/get_matrix_users
  DATA:   /data/matrix_users.json
  CI:     /gitlab-ci.yml (get-data)

  Reporting Issues Shortcode
  ==========================

  LAYOUT: /layouts/shortcodes/reporting_issues.html
  STYLE:  /assets/scss/components/_shortcode_identifier.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Reporting_Issues.md

*/

.pill {
  color: $pink-500;
  font-family: $font-family-monospace;
  font-size: $font-size-sm;
  font-weight: $badge-font-weight;
  text-align: center;
  white-space: nowrap;
}

.pill-wrapper {
  vertical-align: baseline;
  display: inline-block;
  align-items: center;
  border-radius: 6em;
  padding-right: 0.7em;
  padding-left: 0;
  background-color: $gray-200;
  gap: 0;

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

.pill-img {
  background-color: darken($body-color-dark, 60%);
  color: $white;
  height: 1.5em;
  width: 1.5em;
  margin-bottom: 1px;
  border-radius: 50%;
}

[data-dark-mode] body .pill {
  color: $blue-300;
}

[data-dark-mode] body .pill-img {
  color: $border-dark;
  background-color: $body-color-dark;
}

[data-dark-mode] body .pill-wrapper {
  background-color: $border-dark;
}

[data-dark-mode] .accordion-body {
  .pill-wrapper {
    background-color: $gray-900;
  }
}
