/*

  Ln Shortcode
  ============

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layout/shortcodes/ln.html
  STYLE:  /assets/scss/components/_shortcode_ln.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Ln.md

*/

.mp-ln {
  border: 1px solid $border-color;
  padding: 1rem;
  border-radius: 5px;
  color: $link-color;
  display: flex;
  margin: 1em 0;
  transition: 0.1s ease-in;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &:hover {
    cursor: pointer;
    border: 1px solid darken($border-color, 12%);
  }

  .title {
    padding-left: 0.5em;
  }

  .mp-ln-info {
    margin-left: auto;
    padding-right: 0.5em;
    color: $gray-500;
    font-size: $font-size-sm;
  }

  a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
}

[data-dark-mode] body .mp-ln {
  border: 1px solid $border-dark;
  color: $link-color-dark;

  &:hover {
    border: 1px solid lighten($border-dark, 5%);
  }
}

[data-dark-mode] body .mp-ln .mp-ln-info {
  color: $gray-600;
}
