/*

  Alert Shortcode
  ===============

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 2
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/alert.html
  STYLE:  /assets/scss/components/_shortcode_alert.scss
  DOCS:   /content/<language>/wiki/Contribute:Shortcode_Download/index.md

*/

.mp-alert {
  border: 1px solid $gray-200;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  margin: 1em 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 50%);

  .content {
    padding-left: 1em;

    .mp-alert-title {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5em;
    }

    p {
      margin-bottom: 0;
    }

    br {
      display: block;
      margin-bottom: 0.25em;
      content: " ";
    }
  }
}

.mp-alert-primary {
  border-left: 5px solid $primary;
}

.mp-alert-success {
  border-left: 5px solid $success;
}

.mp-alert-danger {
  border-left: 5px solid $danger;
}

.mp-alert-warning {
  border-left: 5px solid $warning;
}

.mp-alert-secondary {
  border-left: 5px solid;
}

.mp-alert-svg {
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.mp-alert-primary-svg {
  stroke: $primary;
}

.mp-alert-success-svg {
  stroke: $success;
}

.mp-alert-danger-svg {
  stroke: $danger;
}

.mp-alert-warning-svg {
  stroke: $warning;
}

.mp-alert-secondary-svg {
  stroke: $secondary;
}

/* Dark mode */
[data-dark-mode] .mp-alert {
  border: 1px solid $border-dark;
}

[data-dark-mode] .mp-alert-primary {
  border-left: 5px solid $primary;
}

[data-dark-mode] .mp-alert-success {
  border-left: 5px solid $success;
}

[data-dark-mode] .mp-alert-danger {
  border-left: 5px solid $danger;
}

[data-dark-mode] .mp-alert-warning {
  border-left: 5px solid $warning;
}

[data-dark-mode] .mp-alert-secondary {
  border-left: 5px solid $secondary;
}
