/*

  Mermaid Shortcode
  =================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 2
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/mermaid.html
  STYLE:  /assets/scss/components/_shortcode_mermaid.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Mermaid.md
  PREP:   /utils/generate_mermaid_images
  DATA:   /mermaid/*
  DATA:   /static/images/mermaid/*
  CI:     /gitlab-ci.yml (build-mermaid)

*/

.mermaid {
  margin: 1.5rem 0;
  padding: 1.5rem;
}

.mermaid svg {
  height: auto;
}
