{{ define "main" }}
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <article>
        <h1>{{ .Title }}</h1>
        <p class="lead">{{ .Params.lead | safeHTML }}</p>
        {{ .Content }}
      </article>
    </div>
  </div>
</div>
{{ end }}
