{{/*<!-- 

  Wiki Categories Layout
  ======================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: Term

  LAYOUT: /layouts/wiki_categories/tem.html
  DOCS:   /content/<language>/wiki/Help:Layout_Wiki_Categories.md
  STYLE:  /assets/scss/layouts/_docs.scss

  Description
  -----------

  The term layout page for the wiki.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->*/}}

{{ define "main" }}

  {{ $wiki := where .Site.RegularPages "Section" "wiki" }}

  {{ $wiki_pages := slice }}


  <!-- Find the blog posts (pages) -->
  {{ range $temp_page :=  (where $wiki "Params.wiki_categories" "!=" nil) }}
    {{ range $t := .Page.Params.wiki_categories }}
      {{ if eq (lower $t) (lower $.Title) }}
        {{ $wiki_pages = $wiki_pages | append $temp_page }}
      {{ end }}
    {{ end }}
  {{ end }}


  <div class="container">
    <div class="row flex-xl-nowrap gap-1">
		  <div class="col-md-12 col-lg-2 col-xl-2 docs-sidebar{{ if ne .Site.Params.options.navbarSticky true }} docs-sidebar-top{{ end }} d-none d-lg-block">
        <nav {{ if eq .Site.Params.menu.section.collapsibleSidebar false }}id="sidebar-default" {{ end }}class="docs-links" aria-label="Main navigation">
          {{ partial "sidebar/docs-menu.html" . }}
        </nav>
      </div>
  		<main class="docs-content col-md-12 col-lg-10 col-xl-10">
        <h1 class="pb-4 mb-4">
          Category: {{ .Title | title }}
        </h1>
        {{ $paginator := .Paginate $wiki_pages -}}
        {{ range $paginator.Pages -}}
          {{ partial "main/wiki-category-list-layout.html" . -}}
        {{ end }}
        <div class="pagination justify-content-center">
          {{ $.Scratch.Set "paginator" true }}
          {{ template "_internal/pagination.html" . }}
        </div>
      </main>
    </div>
  </div>
{{ end }}
