{{/*<!-- 

  Contributors Layout
  ===================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: Single

  LAYOUT: /layouts/contributors/single.html
  DOCS:   /content/<language>/wiki/Help:Layout_Contributors.md

  Description
  -----------

  The list layout page for the contributors.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->*/}}

{{ define "main" }}

  <!-- Store all posts this user made -->
  {{ $posts := newScratch }} {{ range $post := where .Site.RegularPages "Section"
  "blog" -}}

  <!-- 
           Compile a slice of posts written by that user in the $post scratch
           under the "posts" key.
      -->
  {{ range $contributor := $post.Params.contributors }} {{ if eq $contributor
  $.Title }} {{ $posts.Add "posts" (slice $post) }} {{ end }} {{ end }} {{ end }}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <article>
          <h1 class="text-center">{{ .Title }}</h1>
          {{ $title := .Title }} 
          {{ if isset .Params "avatar" }}
            <div class="text-center mb-4">
              <img
                src="{{ .Params.avatar }}"
                alt="{{- .Title }} Avatar"
                width="256"
              />
            </div>
          {{- else -}}
            <!-- 
              If no avatar image was set, but the matrix_identifier was set, use
              that to display the avatar from matrix.org.
            -->
            {{- if isset .Params "matrix_identifier" -}}
              {{- $avatar := "" -}}
              {{ if isset $.Site.Data "matrix_users" }}
                {{- range $.Site.Data.matrix_users -}}
                  {{- if eq .userId $.Params.matrix_identifier -}}
                    {{- with .avatar -}}
                      {{- $avatar = . -}}
                    {{- end -}}
                  {{- end -}}
                {{- end -}}
              {{- end -}}

              {{- with $avatar -}}
                <div class="text-center mb-4">
                  <img
                    src='{{ printf "https://matrix.org/_matrix/media/r0/thumbnail/%s?width=64&height=64&method=scale" (substr  $avatar 6) }}'
                    alt="{{- $.Title }} Avatar"
                    width="256"
                  />
                </div>
              {{- end -}}

            {{ end }} 
          {{ end }} 


          <ul class="contributor-social">
          <!-- Matrix -->
          {{ if isset .Params "matrix_identifier" }}

          <li class="social-item">
          <a href="https://app.element.io/#/user/{{- .Params.matrix_identifier -}}">
            <i class="fa fa-matrix-org fa-lg"></i>
          </a>
          </li>
          {{ end }} 
      
          <!-- Github -->
          {{ if isset .Params "gitlab_username" }}
          <li class="social-item">
          <a href="https://gitlab.com/{{- .Params.gitlab_username -}}">
            <i class="fa fa-gitlab fa-lg" ></i>
          </a>
          </li>
          {{ end }} 

          <!-- Email -->
          {{ if isset .Params "email" }}
          <li class="social-item">

          <a href="mailto://{{- .Params.email -}}">
            <i class="fa fa-at fa-lg"></i>
          </a>
          </li>
          {{ end }}
          </ul>

          <!-- Lead -->
          {{ if isset .Params "lead" }}
            <p class="lead" style="text-align: center">{{ .Params.lead | safeHTML }}</p>
          {{ else }}
            {{ if eq .Params.matrix_moderator true }}
             <p class="lead" style="text-align: center">Hi, I’m {{ .Params.title }}, a member of the moderation team.</p>
            {{ else if eq .Params.website_contributor true }}
              <p class="lead" style="text-align: center">Hi, I’m {{ .Params.title }}, a contributor to this website.</p>
            {{ end }}
          {{ end }}

          <!-- Content and Posts -->
          <div class="text-center">{{ .Content }}</div>
          {{ if isset .Params "bot" }}
            {{ if not .Params.bot }}
              <h2 class="text-center mt-5 pt-5">My Blog Posts</h2>
              {{ range ($posts.Get "posts") -}} 
                {{ partial "main/blog-post-list-layout.html" . -}} 
              {{ end -}} 
            {{ end }}
          {{ end }}
        </article>
      </div>
    </div>
  </div>
{{ end }}
