<!-- 

  Accordion Shortcode
  ===================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: 
    - accordion_item (mandatory)
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/accordion.html
  STYLE:  /assets/scss/components/_shortcode_accordion.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Accordion.md

  Description
  -----------

  Use the accordion, together with the accordion_item, shortcode shortcode to
  create a collapsible accordion.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->


{{/* prettier-ignore-start */}}
{{ $is_html := .Get "html" | default false }}

{{- .Page.Scratch.Add "accordionset-counter" 1 -}}
{{- $accordion_set_id := .Get "name" | default (printf "accordionset-%s-%d" (.Page.RelPermalink) (.Page.Scratch.Get "accordionset-counter") ) | anchorize -}}
{{- $accordion_items := .Scratch.Get "accordion_item" -}}

{{- if .Inner -}}{{- /* Needed for the accordion to work, but not used  */ -}}{{- end -}}

<div class="accordion accordion-flush" id="accordionFlush-{{- $accordion_set_id -}}">
  {{- range $i, $e := $accordion_items -}}
    {{- $id := printf "%s-%d" $accordion_set_id $i -}}
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading-{{- $id -}}">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse-{{- $id -}}"
          aria-expanded="false"
          aria-controls="flush-collapse-{{- $id -}}"
        >
          {{- trim .name " " -}}
        </button>
      </h2>
      <div
        id="flush-collapse-{{- $id -}}"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading-{{- $id -}}"
        data-bs-parent="#accordionFlush-{{- $accordion_set_id -}}"
      >
        <div class="accordion-body">
        {{- with .content -}}
          {{- if $is_html -}}
            {{- . -}}
          {{- else -}}
            {{- . | markdownify -}}
          {{- end -}}
        {{- end -}}
        </div>
      </div>
    </div>
  {{- end -}}
</div>
{{/* prettier-ignore-end */}}
