<!-- 

  Download Shortcode 
  ==================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/download.html
  STYLE:  /assets/scss/components/_shortcode_download.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Download/index.md

  Description
  -----------

  Use the download shortcode to display a download box with metadata
  information, such as as a title, the file size and checksums in md5, sha1 
  and sha256.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->

{{ $path := .Get "path"}}     <!-- Mandatory parameter -->
{{ $title := .Get "title" }}  <!-- Optional parameter -->

<!-- The quantities used to calculate the value and quantity of the file size 

The quantitis are starting with Bytes (which is already in quantity).
-->
{{ $quantities := slice "KB" "MB" "GB" "TB" "PB" "EB" "ZB" }}
{{ $quantity := "Bytes" }}

<!-- Check if resource is in <project_root>/static/.

Resources, by definition, are in <project_root>/ when their path
starts with /
-->
{{ $static := false }}
{{ if hasPrefix $path "/" }}
  {{ $static = true }}
{{ end }}

<!-- Create the full_path.

The full_path is the path to the resource before compiling the project.
This means, it is the path, used by the compiler, and not the rendered 
website.
-->
{{ $full_path := "" }}
{{ if $path }}
  {{ if $static }}
    {{ $full_path = $path }}
  {{ else }}
    {{ $full_path = (path.Join (path.Dir .Page.File.Path) $path) }}
  {{ end }}
{{ else }}
{{ end }}

{{ with os.FileExists $full_path }}


  <!-- 
      Download static files from GitLab directly, as they don't exist in
      the compiled version of the website.
  -->
  {{- $vcs_path := $path -}}

  {{- $parts := slice $.Site.Params.docsRepo -}}

  <!-- TODO: Add other VCS providers -->
  {{- if (eq $.Site.Params.repoHost "GitLab") -}}
    {{- $parts = $parts | append "-/raw" $.Site.Params.docsRepoBranch -}}
  {{- end -}}

  {{- if isset $.Site.Params "docsreposubpath" -}}
    {{- if not (eq $.Site.Params.docsRepoSubPath "") -}}
      {{- $parts = $parts | append $.Site.Params.docsRepoSubPath -}}
    {{- end -}}
  {{- end -}}

  {{- $parts = $parts | append $vcs_path "?inline=false" -}}

  {{- $url := delimit $parts "/" -}}

  {{ $url := replace $url "//" "/" }}
  {{ $url := replace $url "https:/" "https://" }}
  <!-- --- -->

  {{ $file_stats := os.Stat $full_path }}
  {{ $file_size := float $file_stats.Size }}
  {{ $file_content := readFile $full_path }}

  <ul class="download list-group py-4">
    <!-- Download "button" -->
    <li class="list-group-item d-flex justify-content-between align-items-center active" aria-current="true">

      <div class="align-middle mb-1 py-2">
        <i class="px-2 fa fa-download fa-lg" aria-hidden="true"></i>
        <!-- Use title if title exists, else use file name -->
        {{ if $title }}
            {{ $title }}
        {{ else }}
            {{ $file_stats.Name }}
        {{ end }}
    <a href="{{ if $static }}{{ $url | relURL }}{{ else }}{{ $full_path | relURL }}{{ end }}" target="_blank"  rel="noopener" class="stretched-link"></a>
      </div>
      <small>
        <!-- Calculate the value and quantity of the file size -->
        {{ range $quantities }}
           {{ if lt (float $file_size) 1000.0 }}
             {{ break }}
           {{ else }}
             {{ $file_size = div (float $file_size) 1000.0 }}
           {{ end }}
           {{ $quantity = . }}
        {{ end }}
        <!-- print file name and file size with quantity -->
        <span class="px-1">{{ $file_stats.Name }}</span> &VerticalSeparator; <span class="px-1">{{ printf "%.2f %s" (float (string $file_size)) $quantity }}</span>
      </small>
    </li>
    <!-- Checksums -->
    <li class="download-data list-group-item d-flex justify-content-between align-items-center">
      <small><span class="badge bg-primary rounded-pill">md5</span></small> &nbsp;
      <small class="text-break">{{ md5 $file_content }}</small>
    </li>
    <li class="download-data list-group-item d-flex justify-content-between align-items-center">
      <small><span class="badge bg-primary rounded-pill">sha1</span></small> &nbsp;
      <small class="text-break">{{ sha1 $file_content }}</small>
    </li>
    <li class="download-data list-group-item d-flex justify-content-between align-items-center">
      <small><span class="badge bg-primary rounded-pill">sha256</span></small> &nbsp;
      <small class="text-break">{{ sha256 $file_content }}</small>
    </li>
  </ul>
{{ else }}
    {{ errorf "Failed to process download shortcode: %s. %s does not exist in \"%s\"." $.Position $path . }}
{{ end }}
