<!-- 

  Figure Shortcode
  ================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/figure.html
  STYLE:  /assets/scss/components/_shortcode_img.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Figure.md

  Description
  -----------

  Use the figure shortcode to create a HTML figure. 

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->

<figure{{ with .Get "figure_class" }} class="{{.}}"{{ end }}>
  {{ .Inner }}
  {{ with .Get "caption" }}<figcaption class="figure-caption">
    <center><em>{{ . | safeHTML }}</em></center></figcaption>{{ end }}
</figure>
