<!-- 

  Post Shortcode
  ==============

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layout/shortcodes/post.html
  STYLE:  /assets/scss/components/_shortcode_blog.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Post.md

  Description
  -----------

  Use this shortcode to display a post in a card, optionally linked to the
  original blog post.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->


<!-- title: The exact title of the blog post -->
{{$title := .Get "title"}}
<!-- linked: disable link with "false". Everything else renders it -->
{{$linked := .Get "linked" | default "true" }}
<!-- container: disable container with "false". Everything else renders it -->
{{$container := .Get "container" | default "true" }}
<!-- mt: Set top margin -->
{{$mt := .Get "mt"  | default "3"}}
<!-- pt: Set top padding -->
{{$pt := .Get "pt"  | default "3"}}

<!-- Blog Card -->
<section class="section section-sm mt-{{- $mt }} pt-{{- $pt -}}">
  {{if ne $container "false"}}
  <div class="container">
    {{ end }}
    <div class="row justify-content-center">
      <div class="card-list">
        {{ range first 1 (where (where .Site.RegularPages.ByDate "Section"
        "blog") "Params.title" "==" $title) -}}
        <div class="card">
          <div class="card-body">
            <h3>
              {{if ne $linked "false"}}
              <a class="stretched-link text-body" href="{{ .RelPermalink }}"
                >{{ .Params.title }}</a
              >
              {{ else }} {{ .Params.title }} {{end}}
            </h3>
            <p>{{ .Params.lead | safeHTML }}</p>
            {{ partial "main/blog-meta.html" . -}}
          </div>
        </div>
        {{ end -}}
      </div>
    </div>
    {{if ne $container "false"}}
  </div>
  {{ end }}
</section>
