<!-- 

  Rendered Shortcode
  ==================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 2
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/rendered.html
  STYLE:  /assets/scss/components/_shortcode_rendered.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Rendered.md

  Description
  -----------

  Use the rendered shortcode to display whatever is in ".Inner" inside a 
  a box.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->

<div class="my-5">
  <div class="card">
    <div class="card-header rendered">
      <b>Rendered</b>
    </div>
    <!-- <div class="card-body bg-white text-black text-secondary"> -->
    <div class="card-body rendered">{{ with .Inner }} {{ . }} {{ end }}</div>
  </div>
</div>
