// Own definitions

$blue-py:  #387eb8;     // python logo blue
$yellow-py:   #ffc331;  // python logo yellow
$brown:    #aa9c84;

// bootstrap overwrites

$black:    #1d2d35;

$blue:     darken($blue-py, 5%); // a little bit darker for better contrast ratio
$yellow:   $yellow-py;
$purple:   #5d2f86;
$cyan:     #8ed6fb;
$nav-link-color: $black;

$link-decoration: none;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  3xl: 1500px,
  4xl: 1840px,
  5xl: 2180px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  3xl: 1660px,
  4xl: 1780px,
  5xl: 2100px
);

$alert-margin-bottom: 0;
$alert-border-radius: 0;
